/* app css stylesheet */

@media (min-width: 200px) {
  .card-view {
    margin-left: 5px;
    margin-top:100px
  }
  .card-detail-view {
    margin-left: 10px;
    margin-top:100px
  }
}
@media (min-width: 700px) {
  .card-view {
    margin-left: 5px;
    margin-top:150px
  }
  .card-detail-view {
    margin-left: 10px;
    margin-top:150px
  }
}
@media (min-width: 1200px) {
  .card-view {
    margin-left: 150px;
    margin-right: 150px;
    margin-top:150px
  }
  .card-detail-view {
    margin-top:150px
  }
}

.nav-main {
  background-color: #20B796;
  height: 70px;
}

.nav-margin-top {
  margin-top:17px;
}

.nav-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 5px;
}
.nav-head {
    color:#ffffff;
    font-size:15pt;
    font-family: sans-serif;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
