<!-- Markup for lists inside the dropzone. It's inside a seperate template
     because it will be used recursively. The dnd-list directive enables
     to drop elements into the referenced array. The dnd-draggable directive
     makes an element draggable and will transfer the object that was
     assigned to it. If an element was dragged away, you have to remove
     it from the original list yourself using the dnd-moved attribute -->
<script type="text/ng-template" id="list.html">
    <ul dnd-list="list" id="{{zone}}">
        <li class="card-detail" ng-repeat="item in list"
            dnd-draggable="item"
            id="{{item.project_name}}"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
            ng-include="item.type + '.html'" 
            style="background-color:#F7F7F9;border-radius:2px;
    border: 1px;margin-top: 15px;border-left: solid 3px {{item.color}};">
        </li>
         <li class="card-detail" style="background-color:#F7F7F9;border-radius:2px;
    border: 1px;margin-top: 15px;">
         <div class="card-task card-task-bg text-center" ng-controller="PopoverTaskCtrl">
    <a popover-template="dynamicPopover.templateUrl" 
      popover-title="{{dynamicPopover.title}}" 
      class="btn color-black" popover-placement="left">
    <div class="col-lg-12 text-center">
        <div>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
        <div>
            <span class="span-font">Create Task</span>   
        </div>
    </div>
    </a>
</div>
        </li>
    </ul>
</script>

<!-- This template is responsible for rendering a container element. It uses
     the above list template to render each container column -->
<script type="text/ng-template" id="container.html">
    <div class="container-element box box-blue">
        <h3>Container {{item.id}}</h3>
        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
        <div class="clearfix"></div>
    </div>
</script>

<!-- Template for a normal list item -->
<script type="text/ng-template" id="item.html">
    <div class="item">Item {{item.id}}</div>
</script>

<!-- Template for a new task item -->
<script type="text/ng-template" id="task.html">
    <div class="card-task card-task-bg text-center" ng-controller="PopoverTaskCtrl">
    <a popover-template="dynamicPopover.templateUrl" 
      popover-title="{{dynamicPopover.title}}" 
      class="btn color-black" popover-placement="left">
    <div class="col-lg-12 text-center">
        <div>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
        <div>
            <span>{{item.description}}</span>   
        </div>
    </div>
    </a>
</div>
</script>

<!-- Template for a project list item -->
<script type="text/ng-template" id="project.html">
	<div class="col-lg-12">
    <div class="item col-lg-8"> <span><b style="margin-left:-13px;">{{item.project_name}}</b></span></div>
    <div class="btn-group col-lg-4 float-left"> 
    <select class="btn-rounded btn-xsm m-t-10 btn-width" ng-class="'Done' == item.status ? 'greenColor':('On Hold' == item.status ? 'orangeColor':('In Process' == item.status ? 'skyColor':('Sent' == item.status ? 'blueColor':('Schedule' == item.status ? 'redColor':'greenColor'))))" onchange="changeTaskStatus(this);"> 
    <option class="greenColor" ng-selected="{{'Done' == item.status}}" value="Done">Done</option>
    <option class="orangeColor" ng-selected="{{'On Hold' == item.status}}" value="On Hold">On Hold</option>
    <option class="skyColor" ng-selected="{{'In Process' == item.status}}" value="In Process">In Process</option>
    <option class="blueColor" ng-selected="{{'Sent' == item.status}}" value="Sent">Sent</option>
    <option class="redColor" ng-selected="{{'Schedule' == item.status}}" value="Schedule">Schedule</option>
     </select>
 </div>
 </div>
    
    <div class="item"> {{item.description}}</div>
</script>
<!-- Main area with dropzones and source code -->
<div class="col-lg-12 card-detail-view">
    <div class="col-lg-12">
        <div ng-repeat="(zone, list) in models.dropzones" class="col-md-3 card-main card-main-bg nestedDemo">
            <div class="dropzone box box-yellow">
                <!-- The dropzone also uses the list template -->
                <div class="card-name card-name-bg text-center">
                	<h4>{{zone}}</h4>
                </div>
                	
              
                <div ng-include="'list.html'"></div>
            </div>
        </div>
    </div>

    <div view-source="nested"></div>
</div>
