/***************************** Required styles *****************************/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.nestedDemo ul[dnd-list],
.nestedDemo ul[dnd-list] > li {
    position: relative;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.nestedDemo .dropzone ul[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.nestedDemo .dropzone li {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    padding: 0px;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.nestedDemo .dropzone .dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.nestedDemo .dropzone .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.nestedDemo .dropzone .dndPlaceholder {
    background-color: #ddd;
    min-height: 42px;
    display: block;
    position: relative;
}

/***************************** Element Selection *****************************/

.nestedDemo .dropzone .selected .item {
    color: #3c763d;
    background-color: #dff0d8;
}

.nestedDemo .dropzone .selected .box {
    border-color: #d6e9c6;
}

.nestedDemo .dropzone .selected .box > h3 {
    color: #3c763d;
    background-color: #dff0d8;
    background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
    border-color: #d6e9c6;
}

/***************************** Element type specific styles *****************************/

.nestedDemo .dropzone .item {
    padding: 10px 15px;
}

.nestedDemo .dropzone .container-element {
    margin: 10px;
}

.nestedDemo .dropzone .container-element .column {
    float: left;
    width: 50%;
}

/***************************** Toolbox *****************************/

.nestedDemo .toolbox ul {
    list-style: none;
    padding-left: 0px;
    cursor: move;
}

.nestedDemo .toolbox button {
    margin: 5px;
    width: 123px;
    opacity: 1.0;
}

.nestedDemo .toolbox .dndDragging {
    opacity: 0.5;
}

.nestedDemo .toolbox .dndDraggingSource {
    opacity: 1.0;
}

.card-name {
  
  padding: 5px 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  box-shadow: 1px -1px 2px 1px #efefef;
}

.card-name-bg {
  background-color: #ffffff;
  
}

.card-task {
  border-radius: 2px;
  padding: 5px 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.card-task-bg {
  border: 1px solid #eee;
    background-color: #F7F7F9;
}

.card-main {
  padding: 5px 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 490px;
}

.card-main-bg {
  background-color: #ffffff;
  border-left:1px dashed #ddd;
  border-right:1px dashed #ddd;
  border-collapse: collapse;
}

.card-detail {
  padding: 5px 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.btn-width {
    width: 60px;
}

.m-l-custom {
    width: -13px!important;
}

.greenColor{
    background-color: #20B796;
}
.redColor{
    background-color: #d9534f;
}
.blueColor{
    background-color: #337ab7;
}
.orangeColor{
    background-color: #5bc0de;
}
.skyColor{
    background-color: #f0ad4e;
}
.list-border
{
    border-left: 2px solid red;
}
.span-font
{
  font-size: 14px;
}