<div>
    <div class="">
      <div class="modal-body">
       <form>
       		<div class="form-group"><label>Title</label> <input placeholder="Task Title..." class="form-control"/></div>
       		<div class="form-group"><label>Description</label> <textarea placeholder="start Typing..." class="form-control"/></div>
       		<div class="form-group"><label>Members</label> 
       			<select class="form-control"> 
       				<option>select</option>
       			</select>

       		</div>
       </form>
      </div>
      <div class="modal-footer">
      	<a class="btn btn-default btn-rounded btn-outline">Cancel</a>
      	<a class="btn custom-btn-success btn-rounded">Create</a>
      </div>
    </div>
</div>