.color-black {
	color:black;
}


.card {
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

.prevent-overflow {
  height: 60px;
  overflow: hidden;
}

.btn-rounded {
  border-radius: 50px!important;
}

.custom-btn-success {
    color: #fff;
    background-color: #20B796;
    border-color: #20B796;
}
.card-height {
  height: 177px;
}

.p-t-70 {
  padding-top: 70px;
}
.card-bg {
  background-color: #ffffff;
  border:2px solid #eee;
}

.m-t-10 {
  margin-top:10px;
}
.m-b-20 {
  margin-bottom: 20px;
}
