<div class="card-view"> 
<div class="col-lg-4 m-b-20" ng-controller="AllProjectsCtrl" ng-repeat="project in projects_data">
    <a href="#!/details?project_name={{project.project_name}}" class="color-black">
    <div class="card card-bg col-lg-12">
        <div class="p-m col-lg-12">
            <div class="col-lg-12">
            <h3 class="m-xs">{{project.project_name}}</h3>
            </div>
            <div class="col-lg-12 prevent-overflow">
            <span class="font-bold">
                            {{project.description}}
            </span>
        </div>
            <div class="col-lg-12 m-t-10">
            
            <span><b>Team Members: {{project.total_members}}</b></span>
            </div>
        </div>
    </div>
</a>
</div>
<div class="col-lg-4 card-height text-center card-bg card" ng-controller="PopoverDemoCtrl">
    <a popover-template="dynamicPopover.templateUrl" 
      popover-title="{{dynamicPopover.title}}" 
      class="btn color-black" popover-placement="right">
    <div class="col-lg-12 text-center p-t-70">
        <div>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
        <div>
            <span>Create New Project</span>   
        </div>
    </div>
    </a>
</div>
</div>